<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family:Roboto:wght@400;700&display=swap"> -->
    <title>Blogg</title>
</head>

<body>

    <section>
        <div class="container">
            <div class=" navbar">
                <img src="" alt="">
                <nav>
                    <ul>
                        <li> <a href=""> HOME</a></li>
                        <li> <a href=""> REGION</a></li>
                        <li> <a href=""> ABOUT</a></li>
                    </ul>
                </nav>
                <img src="./Images/menu.png" class="menu-button">
            </div>
        </div>
    </section>
    <hr/>
    <div>
        <h1>Blog</h1>
        <p></p>

    </div>


</body>

</html>